body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background for cyberpunk feel */
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #00ffea; /* Neon cyan for links */
    font-size: 1.2em;
}

nav ul li a.active, nav ul li a:hover {
    color: #ff00ff; /* Bright magenta for active/hover states */
}

header h1 {
    text-align: center;
    color: #ff7600; /* Neon orange for headers */
    padding: 20px 0;
}

.interests, .about-me {
    margin-bottom: 20px;
}

.interests h2, .books h3, .anime h3, .genre h4 {
    color: #4affff; /* Neon blue for interest headers */
}

.genre ul, .anime ul {
    list-style-type: none;
    padding: 0;
}

.genre li, .anime li {
    margin-bottom: 10px;
}

.genre li:before, .anime li:before {
    content: "▹";
    color: #ff1177; /* Neon pink for bullet points */
    padding-right: 8px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 8px #fff, 0 0 12px #ff0, 0 0 24px #ff0, 0 0 48px #fe0;
    }
    50% {
        text-shadow: 0 0 16px #fff, 0 0 22px #ff0, 0 0 38px #ff0, 0 0 74px #fe0;
    }
    100% {
        text-shadow: 0 0 8px #fff, 0 0 12px #ff0, 0 0 24px #ff0, 0 0 48px #fe0;
    }
}

.glowy-text {
    animation: glow 2s ease-in-out infinite alternate;
    color: #ff0;
}

a:hover {
    animation: fireFlicker 0.5s ease-in-out infinite;
    color: #ff4500; /* Orange-red color for the fire-like effect */
}

@keyframes fireFlicker {
    0% { text-shadow: 0 0 4px #ff4500, 0 0 11px #ff4500, 0 0 19px #ff4500, 0 0 40px #ff2200, 0 0 80px #ff2200, 0 0 90px #ff2200, 0 0 100px #ff2200, 0 0 150px #ff2200; }
    50% { text-shadow: 0 0 5px #ff4500, 0 0 12px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff2200, 0 0 40px #ff2200, 0 0 50px #ff2200, 0 0 60px #ff2200; }
    100% { text-shadow: 0 0 4px #ff4500, 0 0 11px #ff4500, 0 0 19px #ff4500, 0 0 40px #ff2200, 0 0 80px #ff2200, 0 0 90px #ff2200, 0 0 100px #ff2200, 0 0 150px #ff2200; }
}

@keyframes pulseBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.section-background {
    background: linear-gradient(270deg, #ff0000, #ff7300, #fffb00);
    background-size: 600% 600%;
    animation: pulseBackground 15s ease infinite;
}
