body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Maintain dark background */
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #39ff14; /* Modified to a more subtle cyberpunk green */
    font-size: 1.2em;
}

nav ul li a.active, nav ul li a:hover {
    color: #ff0099; /* Cyberpunk pink for active/hover states */
}

header h1 {
    text-align: center;
    color: #ff7600; /* Neon orange for headers */
    padding: 20px 0;
}

.interests, .about-me {
    margin-bottom: 20px;
}

.interests h2, .books h3, .anime h3, .genre h4 {
    color: #4affff; /* Soft neon blue for interest headers */
}

.genre ul, .anime ul {
    list-style-type: none;
    padding: 0;
}

.genre li, .anime li {
    margin-bottom: 10px;
}

.genre li:before, .anime li:before {
    content: "▹";
    color: #7fff00; /* Neon green for bullet points */
    padding-right: 8px;
}

/* Subtle Glowing Text */
.glowy-text {
    color: #39ff14;
    text-shadow: 0 0 3px #39ff14, 0 0 5px #39ff14;
}

/* Hover effect for links to simulate a mild cyberpunk neon sign */
a:hover {
    color: #ff0099;
    text-shadow: 0 0 5px #ff0099, 0 0 10px #ff0099;
}

/* Background animation for the header */
.section-background {
    background: linear-gradient(270deg, #0f0, #0099ff, #0ff);
    background-size: 600% 600%;
    animation: pulseBackground 10s ease infinite;
}

/* Adjusted Pulse Background Animation */
@keyframes pulseBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Adding a subtle scanline effect to the background for that cyberpunk vibe */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px,
        transparent 2px
    );
    pointer-events: none; /* Allows click-through */
    z-index: 9999;
}

/* Subtle flicker effect for certain elements to add a dynamic but not overwhelming feel */
@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}

/* Apply the flicker animation to headers */
header h1, .interests h2, .books h3, .anime h3, .genre h4 {
    animation: flicker 3s linear infinite;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        font-size: 1em;
    }

    header h1 {
        font-size: 1.5em;
    }

    .interests h2, .books h3, .anime h3, .genre h4 {
        font-size: 1.3em;
    }
}
