body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000; 
    color: #fff; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222; 
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #1177cc;
}

.hero {
    background-color: #121212;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
}

section {
    padding: 20px;
    border-bottom: 1px solid #333; 
}

h2 {
    color: #1177cc;
}


.experience-item, .education-item, .skills-category, .project-item {
    margin-bottom: 15px;
}
.project-item:hover {
    background-color: #333; 
    cursor: pointer;
    animation: shake 0.5s;
    animation-fill-mode: forwards;
}
/* 
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
} */


.social-media a {
    color: #bbb; 
    text-decoration: none;
    transition: color 0.5s ease;
}

.social-media a:hover {
    color: #1177cc;
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    nav ul li a {
        padding: 10px 12px;
    }
}